" no map key {{{
"  cat .vimrc .ideavimrc |grep '<Leader>' |awk -F \<Leader\> '{print$2}'|sort -f
" ijkl o uvwxyz

" g[ABCGKLOSWXYZ bclxyz]
" z[BIJKQSTUVYZ qu]
"}}}


" vimrc {{{
source ~/.vimrc
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \v :action IdeaVim.ReloadVimRc.reload<CR>
" }}}


" Setting {{{
set ideajoin
set quickscope
set idearefactormode=select " select keep visual
set keep-english-in-normal
set nokeep-english-in-normal-and-restore-in-insert
" let keep_input_source_in_normal="com.apple.keylayout.ABC"
" }}}


" Handler {{{
"" https://github.com/JetBrains/ideavim/wiki/sethandler
"" n - normal mode
"" i - insert mode
"" x - visual mode
"" v - visual and select modes
"" a - all modes
""" One
sethandler <C-Q> n:vim i-x:ide
sethandler <C-W> a:vim
sethandler <C-E> a:vim
sethandler <C-R> n:vim i-x:ide
sethandler <C-T> n:ide i-x:vim " Refactor
sethandler <C-Y> n:vim i-x:ide
sethandler <C-U> a:vim
sethandler <C-I> n:ide i-x:vim " Implement
sethandler <C-O> n:ide i-x:vim " Override
sethandler <C-P> a:ide         " Up
""" Two
sethandler <C-A> a:vim
sethandler <C-S> n:vim i-x:ide
sethandler <C-D> a:vim
sethandler <C-F> a:ide         " Right
sethandler <C-G> n:vim i-x:ide
sethandler <C-H> a:vim
sethandler <C-J> n:vim i-x:ide
sethandler <C-K> n:vim i-x:ide
sethandler <C-L> n:vim i-x:ide
""" Three
sethandler <C-Z> n:vim i-x:ide
sethandler <C-X> n:vim i-x:ide
sethandler <C-C> n:ide i-x:vim " Copy
""" nnoremap <C-C> :action CopyReferencePopupGroup<CR>
sethandler <C-V> n:vim i-x:ide
sethandler <C-B> a:ide         " Left
sethandler <C-N> a:ide         " Down
sethandler <C-M> n:vim i-x:ide
""" Four
sethandler <S-Space> a:ide
" }}}


" Plugins {{{
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
"" Shortcut for calling action group
"" nnoremap <leader>fus :action scopeActions.FindUsagesByScopeActionGroup<CR>
"" Shortcut for calling individual scope action
"" nnoremap <leader>fum :action FindUsagesByScopeInModels<CR>
" }}}


" Bookmark {{{
nnoremap <Leader>m :action ToggleBookmarkWithMnemonic<CR>
nnoremap ma :action GotoBookmarkA<CR>
nnoremap mb :action GotoBookmarkB<CR>
nnoremap mc :action GotoBookmarkC<CR>
nnoremap md :action GotoBookmarkD<CR>
nnoremap me :action GotoBookmarkE<CR>
nnoremap mf :action GotoBookmarkF<CR>
nnoremap mg :action GotoBookmarkG<CR>
nnoremap mh :action GotoBookmarkH<CR>
nnoremap mi :action GotoBookmarkI<CR>
nnoremap mj :action GotoBookmarkJ<CR>
nnoremap mk :action GotoBookmarkK<CR>
nnoremap ml :action GotoBookmarkL<CR>
nnoremap mm :action GotoBookmarkM<CR>
nnoremap mn :action GotoBookmarkN<CR>
nnoremap mo :action GotoBookmarkO<CR>
nnoremap mp :action GotoBookmarkP<CR>
nnoremap mq :action GotoBookmarkQ<CR>
nnoremap mr :action GotoBookmarkR<CR>
nnoremap ms :action GotoBookmarkS<CR>
nnoremap mt :action GotoBookmarkT<CR>
nnoremap mu :action GotoBookmarkU<CR>
nnoremap mv :action GotoBookmarkV<CR>
nnoremap mw :action GotoBookmarkW<CR>
nnoremap mx :action GotoBookmarkX<CR>
nnoremap my :action GotoBookmarkY<CR>
nnoremap mz :action GotoBookmarkY<CR>
" }}}



" keymaps
" General {{{
nnoremap zr :action ExpandAllRegions<CR>
nnoremap zm :action CollapseAllRegions<CR> :action ExpandAllRegions<CR>
nnoremap zv :action ExpandAllToLevel<CR>

nnoremap zo :action ExpandRegionRecursively<CR>
nnoremap zc :action CollapseRegionRecursively<CR>

nnoremap u :action $Undo<CR>
vnoremap U :action EditorAddCaretPerSelectedLine<CR>


 noremap <Leader>ee :action CompareClipboardWithSelection<CR>
nnoremap <Leader>ec :action CopyReferencePopupGroup<CR>
" }}}


" Windows (Exist Override .vimrc) {{{
nnoremap <Leader>; :action $LRU<CR>
nnoremap <Leader>q :action CloseProject<CR>

nnoremap <Space>w :action CloseAllEditorsButActive<CR>
nnoremap <Space>q :action CloseAllEditors<CR>
nnoremap <Space>j :action MoveTabDown<CR>
nnoremap <Space>J :action SplitHorizontally<CR>
nnoremap <Space>l :action MoveTabRight<CR>
nnoremap <Space>L :action SplitVertically<CR>
nnoremap <Space>c :action ChangeSplitOrientation<CR>
nnoremap <Space>m :action MoveEditorToOppositeTabGroup<CR>
nnoremap <Space><Space> :action Unsplit<CR>
nnoremap <Space><S-Space> :action UnsplitAll<CR>

nnoremap <Space>t :action Terminal.OpenInTerminal<CR>
nnoremap <Space>T :action ActivateTerminalToolWindow<CR>
nnoremap <Space>R :action ActivateRunToolWindow<CR>
nnoremap <Space>D :action ActivateDebugToolWindow<CR>
nnoremap <Space>S :action ActivateServicesToolWindow<CR>
nnoremap <Space>F :action FileStructurePopup<CR>
nnoremap <Space>B :action ActivateBuildToolWindow<CR>
nnoremap <Space>N :action EditSourceInNewWindow<CR>
nnoremap <Space>M :action ActivateMybatisLogPlusToolWindow<CR>
" }}}


" Navigate  {{{
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
nnoremap gr :action GotoRelated<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gy :action QuickImplementations<CR>
nnoremap gi :action GotoImplementation<cr>
nnoremap go :action FindUsages<CR>
nnoremap gp :action QuickJavaDoc<CR>
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

nnoremap gs :action GotoSuperMethod<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gf :action SelectInProjectView<CR>
nnoremap gF :action RevealIn<CR>
nnoremap gl :action JumpToLastChange<CR>
nnoremap gb :action ShowNavBar<CR>
"""" nnoremap gb :action Back<CR>
"""" nnoremap gf :action Forward<CR>
" }}}


" Code & Refactor [c] {{{
nnoremap <Leader>cr :action RenameElement<CR>
nnoremap <Leader>cR :action RenameFile<CR>
nnoremap <Leader>ci :action Inline<CR>
nnoremap <Leader>ca :action OptimizeImports<CR>
 noremap <Leader>cc :action ReformatCode<CR>
vnoremap <Leader>cs :action SurroundWith<CR>
 noremap <Leader>cj :action StringManipulation.ToSnakeCaseOrCamelCase<CR><Esc>
 noremap <Leader>ck :action osmedile.intellij.stringmanip.RepeatAction<CR><Esc>
nnoremap <Leader>cl :action osmedile.intellij.stringmanip.PopupChoiceAction<CR>
vnoremap <Leader>cn :action CopyElement<CR>
" }}}


" VCS [g] {{{
nnoremap <Leader>gr :action Vcs.RollbackChangedLines<CR>
nnoremap <Leader>gg :action Git.Branches<CR>
nnoremap <Leader>ga :action Annotate<CR>
nnoremap <Leader>gh :action Vcs.ShowTabbedFileHistory<CR>
nnoremap <Leader>gH :action LocalHistory.ShowHistory<CR>
vnoremap <Leader>gh :action Vcs.ShowHistoryForBlock<CR>
nnoremap <Leader>gz :action ChangesView.Revert<CR>
nnoremap <Leader>gc :action Git.CompareWithBranch<CR>
nnoremap <Leader>gn :action ActivateCommitToolWindow<CR>
" }}}


" Run [r] {{{
noremap <Leader>b  :action MakeModule<CR>
noremap <Leader>re :action ChooseRunConfiguration<CR>
noremap <Leader>rr :action RunClass<CR>
noremap <Leader>rd :action DebugClass<CR>
noremap <Leader>rs :action Stop<CR> :action Stop<CR>
noremap <Leader>rb :action ToggleLineBreakpoint<CR>
" }}}


" Asciidoc [space]  {{{
nnoremap <Leader><Space><Space> :action OpenInBrowser<CR>
nnoremap <Leader><Space>c :action org.asciidoc.intellij.actions.editorlayout.EditorOnlyLayoutChangeAction<CR>
nnoremap <Leader><Space>n :action org.asciidoc.intellij.actions.editorlayout.EditorAndPreviewLayoutChangeAction<CR>
nnoremap <Leader><Space>p :action org.asciidoc.intellij.actions.asciidoc.CreatePdfAction<CR>
nnoremap <Leader><Space>d :action org.asciidoc.intellij.actions.asciidoc.CreateDocxAction<CR>
nnoremap <Leader><Space>h :action org.asciidoc.intellij.actions.asciidoc.CreateHtmlAction<CR>
" }}}


" echo &ide | has('ide')  https://github.com/JetBrains/ideavim#executing-ide-actions
" IDEA {{{
if &ide =~? 'IntelliJ IDEA'
    nnoremap <Leader>a :action ShowIntentionActions<CR>
    nnoremap <Leader>d :action CompareClipboardWithSelection<CR>
    nnoremap <Leader>f :action ToggleRenderedDocPresentation<CR>
    nnoremap <Leader>h :action LocalHistory.ShowHistory<CR>

    nnoremap g/ :action Tool.GotoRequestService<CR>

    nnoremap <Leader>t :action Rainbow.ScopeHighlightingAction<CR>
    nnoremap <Leader>T :action Rainbow.ScopeOutsideHighlightingRestrainAction<CR>
endif
"" }}}


" DataGrip {{{
if &ide =~? 'DataGrip'
    nnoremap zm :action CollapseAllRegions<CR>
    nnoremap <Leader>a :action ShowIntentionActions<CR>
    nnoremap <Leader>s :action Console.Jdbc.ChooseSession<CR>
    nnoremap <Leader>d :action Console.Jdbc.ChooseSchema<CR>
    nnoremap <Leader>f :action Console.Jdbc.Execute.2<CR>
    nnoremap <Leader>F :action Console.Jdbc.Execute.3<CR>
    nnoremap <Leader>h :action Console.Jdbc.BrowseHistory<CR>
endif
"" }}}


" PyCharm {{{
if &ide =~? 'PyCharm'
    nnoremap <Leader>a :action ShowIntentionActions<CR>
  ""nnoremap <Leader>s :action Console.Jdbc.ChooseSession<CR>
    nnoremap <Leader>d :action CompareClipboardWithSelection<CR>
    nnoremap <Leader>f :action ToggleRenderedDocPresentation<CR>
    nnoremap <Leader>h :action LocalHistory.ShowHistory<CR>
endif
"" }}}


"" WebStorm {{{
if &ide =~? 'WebStorm'
    nnoremap <Leader>a :action ShowIntentionActions<CR>
  ""nnoremap <Leader>s :action Console.Jdbc.ChooseSession<CR>
    nnoremap <Leader>d :action CompareClipboardWithSelection<CR>
    nnoremap <Leader>f :action ToggleRenderedDocPresentation<CR>
    nnoremap <Leader>h :action LocalHistory.ShowHistory<CR>
endif
"" }}}

